table
{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

thead
{
    background-color: aqua;
    border: 1px solid black;
    border-collapse: collapse;
}

tbody
{
    background-color: gray;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 20px;
}

tfoot
{
    background-color:chartreuse
}

tbody tr:hover
{
    background-color: coral;
}

th[scope="col"]
{
    color: red;
}

th[scope="row"]
{
    color: red;
}